@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Pattaya&display=swap");
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat-room.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  /*  height: 1000vh;*/
  padding-bottom: 70px;
  /*Find 섹션 때문에 하단에 fix된 nav bar 길이 맞춰서 임의로 추가함*/
}

.main-screen {
  margin-top: 110px;
  padding: 0px var(--horizontal-space);
}
