.more-suggestions {
  margin-top: 40px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid #0ae6c1;
  margin-bottom: 10px;
}

.more-suggestions__icon-text {
  text-align: center;
}

.more-icons {
  margin-top: 40px;
}
